<!doctype html>
<html>
    <head>
        <title>Account Management System</title>
    </head>
    <body>
        <h1>Account Management System</h1>

        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('check_db') }}">Check DB</a>
        {% if not session.username %}
            <a href="{{ url_for('login') }}">log in</a>
        {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}

        {%- for category, message in get_flashed_messages(with_categories=true) %}
            <p class="flask {{ category }}-flash">{{ "Error: " if category == 'error' }}{{ message }}</p>
        {%- endfor %}
        {% block body %}{% endblock %}
        <hr>
    </body>
</html>